{% extends "base.html" %}

{% block content %}
<h2>Welcome {{ username }}</h2>

<p>Select what you want to do:</p>

<ul>
    <li><a href="/">Practice Interview</a></li>
    <li>
        <form method="POST" action="/roadmap">
            <input type="text" name="age" placeholder="Age"><br><br>
            <input type="text" name="education" placeholder="Education"><br><br>
            <input type="text" name="role" placeholder="Target Role"><br><br>
            <input type="text" name="hours" placeholder="Hours per day"><br><br>
            <button type="submit">Generate Roadmap</button>
        </form>
    </li>
</ul>
{% endblock %}
