{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Welcome Back</h2>
        <p class="auth-subtitle">Log in to access your AI roadmap.</p>
        
        <form method="POST">
            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter youe username" required>
            </div>
            
            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="••••••••" required>
            </div>
            
            <button type="submit" class="auth-btn signup" style="width: 100%; margin-top: 10px;">Login</button>
        </form>
        
        <p class="auth-footer">New here? <a href="/register">signup</a></p>
    </div>
</div>
{% endblock %}